extends layout

block content
  h1.mb-3.text-center.text-primary CryptoInfo
  p.text-center Click on the links in the navbar to see more informations about cryptocurrencies
  .text-center
    img(src='/images/world.jpg', width="60%")
