extends layout

block content
  // HTML   <h1 class="text-center text-primary mb-3></h1>"
  // PUG 1  h1(class="text-center text-primary mb-3")
  // PUG 2  h1.text-center.text-primary.mb-3
  h1.text-center.text-primary.mb-3 Top 10 cryptocurrencies
  each currency, index in cryptocurrencies
    // .card -> <div class="card">
    .card.bg-light.mb-2
      .card-header= `Rank ${index + 1}`
      .card-body
        h5.card-title= `${currency.name} $${currency.price}`
          img(src=`${currency.logo}`, width='30', height='30', alt='').float-right